.react-draggable {
  cursor: grab;
}

.react-draggable-dragging {
  cursor: grabbing;
}

.map-location-box {
  z-index: 2;
  position: absolute;
  align-content: center;
  opacity: 0.8;
}

.map-location-box:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.map-location-box .selected {
  border-color: yellow;
  border-width: 3px;
}