.react-draggable {
  cursor: grab;
}

.react-draggable-dragging {
  cursor: grabbing;
}

.map-location-box {
  z-index: 2;
  position: absolute;
  align-content: center;
  opacity: 0.8;
}

.map-location-box:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.map-location-box .selected {
  border-color: yellow;
  border-width: 3px;
}

.animated-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.animated-arrow::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  offset-path: path(var(--path));
  animation: move 1s ease-out infinite;
}

@keyframes move {

  0%,
  20% {
    offset-distance: 0%;
  }

  80%,
  100% {
    offset-distance: 100%;
  }
}